.models-list-content {
    display: flex;
    flex-direction: column;
    max-height: 90vh;
    /* max-height: 100vh; */
}

.models-list-header {
  flex-grow: 0; 
}

h3{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
  
.model-select-grid {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px 2px; /* row-gap, column-gap */
  /* max-width: 450px; */
  margin: 10px auto;
}

.model-select-label {
  text-align: left;
  align-self: center;
  font-size: 16px;
}

.model-select-value {
  text-align: left;
  font-size: 16px;
  background-color: #6431c1;
  color: white;
}
  
.model-select-value:not(:empty) {
  padding: 2px;
}

.models-list {
  flex-grow: 1; 
  overflow-y: auto;
}

.available-models-label {
  margin-top: 0px;
  margin-bottom: 10px;
}
  
/* Target Primereact listbox items */

.p-listbox .p-listbox-item {
  padding: 4px 8px; 
  line-height: 1.2;        
}

.p-listbox-list {
  padding: 0;
  line-height: 1.2;        
}

.p-listbox-header {
  padding: 5px 20px;
}

.span-listbox-item {
  padding: 4px 0px; 
  line-height: 1.2;        
}

.listbox-item-template {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.p-button-sm {
  padding-top: 0;
  padding-bottom: 0;
}

.p-dialog {
  width: 80vw;
  max-width: 400px; 
}

.p-dialog-header {
  padding-top: 24px;
  padding-bottom: 8px;
}

.p-dialog-title {
  font-size: 16px;
}

.p-dialog-content {
  padding-bottom: 8px;
}


/* Style the filter input */
.p-listbox-filter {
  padding: 4px 8px; 
  margin: 0;
  border: 2px solid #007bff;
  border-radius: 6px;
  font-size: 14px;
  line-height: 1.2;        
}

.models-list-close {
    flex-grow: 0; 
    margin-top: 10px;
  }
  
.set-selected-model-btn {
  border-radius: 5%;
  margin-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  .model-select-grid {
      grid-template-columns: 130px 1fr; /* label column fixed, value column flexible */
  }
}
       