@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    overflow: hidden;
    background-color: #f0f0f0;
  }

.trial-chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* On Samsung M21 Android phone Chrome bottom part of response cannot be scrolled down to.
    This issue cannot be seen in PC Chrome browser in Mobile mode in Inspect. 
    To resolve Samsung M21 phone issue using lesser than 100vh for mobile and 100vh for greater than mobile width. */
    /* max-height: 100vh; */
    max-height: 95vh;
    /* max-width is set by the app dynamically */
    margin: 0 auto;
    padding: 10px 10px 20px 10px;
    background-color: #f0f0f0;
    border-radius: 10px;
    /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    overflow-y: auto;
}

.trial-header-container {
  flex-grow: 0;
}

.trial-header-row {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
}

h2{
  text-align: center;
  font-family: 'Poppins';
  background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: text;
  color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.models-used-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.model-used-input {
  font-size: 16px;
  background-color: #6431c1;
  color: white;
  border-radius: 5%;
}

.trial-input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.trial-input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid #ddd;
  border-color: black;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
}

.trial-input:focus {
  border-color: #007bff;
}

.message {
  margin: 5px 0;
  padding: 1px;
  border-radius: 10px;
  font-size: 18px;
}

.message-user {
  background-color: #D1C4E9;
  color: #333;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  max-width: 80%;
}

.loading-text {
  font-size: 16px;
  color: #555;
}

.trial-chat-response {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  background-color: pink;
  }

.message-bot {
  color: #333;
  padding-left: 20px;
  padding-right:20px;
  padding-bottom: 5px;  /* Does not seem to have any effect. */
  /* margin-right: auto; */
}

.toggle-full-width-btn {
  border-radius: 20%;
}

/* (min-height: 500px) was added to cater to my Samsung M21 phone in landscape mode */
@media only screen and (min-width: 768px) and (min-height: 500px) {
  .trial-chat-container {
    max-height: 100vh;
  }
}
/* @media only screen and (min-width: 768px) {
  .trial-chat-container {
    max-height: 100vh;
  }
} */
