@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.btn {
  background-color: #007bff;
  border: none;
  padding: 10px;
  border-radius: 30%;
  cursor: pointer;
  color: white;
  font-size: 12px;
  margin-left: 10px;
}

.btn:hover:enabled {
  background-color: #0056b3;
}

.btn:disabled {
  background-color: #ccc; /* Light gray */
  color: #666;            /* Dimmed text */
  cursor: default;
}
